bandir/*
*~
*tiddly.html
temp/temp.txt
temp/temp2.txt
temp/tiddly_1.html
temp/tiddly_3.html
index.php
nota.md
pandunia/barudant/
suomi/Diaesitys.odp
suomi/Diaesitys.pdf
grafe/*
html/*
lexekarta/*
docs/*/pan.md
docs/*/*.pdf
docs/assets/favicon.png
docs/assets/logo.png
docs/*/lexaslia.md
docs/*/000_dake.md
putonghan/putonghan-pandunia.md
rus/rus-pandunia.md
nipon/nipon-pandunia.md
*/000_*
docs/*/ze_pandunia.md
docs/*/do_pandunia.md
