bandir/*
*~
*tiddly.html
temp/temp.txt
temp/temp2.txt
temp/tiddly_1.html
temp/tiddly_3.html
index.php
nota.md
pandunia/barudant/
suomi/Diaesitys.odp
suomi/Diaesitys.pdf
grafe/*
html/*
lexokarte/*
*/pan.md
*.pdf
*/leksaslia.md
putonghan/putonghan-pandunia.md
rus/rus-pandunia.md
nipon/nipon-pandunia.md
*/000_*
