p {
    background-color: white;
    padding: 2px;
	/*font-size: 18;*/
}

/* kontener intene image e kitabe */
.kontener {
  position: relative;
  text-align: center;
  color: white;
}

/*
karte: https://commons.wikimedia.org/wiki/File:Simple_world_map.svg
*/

.eng {
  position: absolute;
  left: 180px;
  top: 110px;
  border: 1px solid brown;
}

.fra {
  position: absolute;
  left: 400px;
  top: 105px;
  border: 1px solid green;
}

.spa {
  position: absolute;
  left: 120px;
  top: 205px;
  border: 1px solid blue;
}

.por {
  position: absolute;
  left: 280px;
  top: 305px;
  border: 1px solid green;
}

.rus {
  position: absolute;
  left: 560px;
  top: 45px;
  border: 1px solid violet;
}

.ara {
  position: absolute;
  left: 475px;
  top: 170px;
  border: 1px solid orange;
}

.zho {
  position: absolute;
  left: 730px;
  top: 140px;
  border: 1px solid red;
}

.yue {
  position: absolute;
  left: 805px;
  top: 170px;
  border: 1px solid red;
}

.jpn {
  position: absolute;
  left: 890px;
  top: 135px;
  border: 1px solid red;
}

.kor {
  position: absolute;
  left: 830px;
  top: 105px;
  border: 1px solid red;
}

.vie {
  position: absolute;
  left: 780px;
  top: 230px;
  border: 1px solid red;
}

.hin {
  position: absolute;
  left: 670px;
  top: 170px;
  border: 1px solid red;
}

.ben {
  position: absolute;
  left: 736px;
  top: 200px;
  border: 1px solid red;
}

.may {
  position: absolute;
  left: 780px;
  top: 280px;
  border: 1px solid red;
}

.swa {
  position: absolute;
  left: 540px;
  top: 280px;
  border: 1px solid yellow;
}

.hau {
  position: absolute;
  left: 460px;
  top: 220px;
  border: 1px solid yellow;
}

.ful {
  position: absolute;
  left: 390px;
  top: 220px;
  border: 1px solid yellow;
}

.tur {
  position: absolute;
  left: 525px;
  top: 120px;
  border: 1px solid violet;
}

.tam {
  position: absolute;
  left: 670px;
  top: 230px;
  border: 1px solid red;
}

.deu {
  position: absolute;
  left: 465px;
  top: 75px;
  border: 1px solid blue;
}

.fas {
  position: absolute;
  left: 590px;
  top: 145px;
  border: 1px solid red;
}

